[submodule ".haxelib/heaps/git"]
	path = .haxelib/heaps/git
	url = git@github.com:heapsIO/heaps
[submodule ".haxelib/format/git"]
	path = .haxelib/format/git
	url = git@github.com:haxefoundation/format
